version: "3.8"

services:
  backend:
    build: ./server
    container_name: xplorer-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  client:
    build: ./client
    container_name: xplorer-frontend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    depends_on:
      - backend
 

