.react-datepicker {
  font-family: 'Inter', sans-serif;
  border: none !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 1rem !important;
  padding: 0.4rem;
}

.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
  padding-bottom: 0.5rem;
}

.react-datepicker__current-month {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2937; /* Gray-800 */
  margin-bottom: 0.5rem;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 2.2rem; 
  line-height: 2.2rem;
  margin: 0.1rem;
  border-radius: 0.375rem;
  font-weight: 500;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f02b2b !important; /* Pink-500 */
  color: white !important;
}

.react-datepicker__day--today {
  font-weight: 700;
  border: 1px solid #e83e3e; /* Pink-500 */
  color: #f02b2b;
}

.react-datepicker__day:hover {
  background-color: #fce7f3; /* Pink-100 */
}
