# Ignore node_modules, as it's installed inside the container
node_modules

# Ignore build artifacts (if any)
dist
build

# Ignore .env files (these should be injected at runtime)
.env*

# Ignore git
.git